@use '../../../../styles/variables' as *;
@use '../../../../styles/breakpoints' as *;

.courses {
    padding: 20px;
}

.all-cursus {
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
}

.all-cursus__title {
    color: $medium-blue;
    font-weight: bold;
    
}

.all-cursus__list {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

.cursus {
    cursor: pointer;
    display: flex;
    width: 50%;
    max-width: 550px;
    padding: 15px;
    color: $brown;
    background-color: $light-blue;
    border: 2px solid $medium-blue;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.cursus:hover {
    transform: scale(1.02);
    background-color: $medium-blue;
    font-weight: bold;
}

.cursus__name {
    width: 100%;
    
    @include for-s {
        text-align: center;
    }
}

.cursus:hover .cursus__name {
    color: white;
}

.cursus__icon {
    transform: scale(1.5);
}

.cursus:hover .cursus__icon {
    color: white;
}