@use '../../../../styles/variables' as *;
@use '../../../../styles/breakpoints' as *;

.courses {
    padding: 20px;
}

.themes {
    padding-bottom: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
}

.themes__title {
    color: $medium-blue;
    font-weight: bold;
}

.themes__list {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

.themes__item {
    cursor: pointer;
    width: 50%;
    max-width: 550px;
    padding: 15px;
    color: $brown;
    background-color: $light-blue;
    border: 2px solid $medium-blue;
    border-radius: 5px;
    transition: all 0.3s ease;

    @include for-s {
        text-align: center;
    }
}

.themes__item:hover {
    transform: scale(1.02);
    background-color: $medium-blue;
    color: white;
    font-weight: bold;
}
