@use '../../../styles/variables' as *;

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal__overlay {
    position: fixed;
    top:0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    cursor: pointer;
}

.modal__content {
    z-index: 1;
    padding: 40px;
    background-color: white;
    width: 50%;
    min-width: 260px;
    max-width: 450px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 3px solid $medium-blue;
    border-radius: 5px;
}

.modal__close {
    margin-left: auto;
    cursor: pointer;
    width: 15px;
    transform: scale(1.8);
    color: $medium-blue;
    transition: transform 0.3s ease;
}

.modal__close:hover {
    transform: scale(2);
    color: $dark-blue;
}

.modal__title {
    text-align: center;
    color: $medium-blue;
    font-weight: bold;
}

.modal__info {
    padding: 10px;
    border: 2px solid $medium-blue;
    border-radius: 5px;
}

.modal__payment-button {
    margin: 0 auto;
    width: fit-content;
    padding: 5px 10px;
    background-color: $medium-blue;
    color: white;
    border: 2px solid $medium-blue;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.modal__payment-button:hover {
    background-color: white;
    color: $medium-blue;
    transform: scale(1.1);
}

.modal__message {
    text-align: center;
}

// -----------------
// Dynamic classes
// -----------------

.modal__payment-button--hidden {
    background-color: $brown;
    border: 2px solid $brown;
    pointer-events: none;
}
