@use '../../../styles/variables' as *;

.not-found {
    padding: 100px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
}

.not-found__title {
    color: $dark-blue;
    font-weight: bold;
}

.not-found__text {}

.not-found__link {
    padding: 15px 25px;
    background-color: $medium-blue;
    color: white;
    border: 2px solid $medium-blue;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.not-found__link:hover {
    transform: scale(1.1);
    background-color: white;
    color: $medium-blue;
}