@use '../../styles/variables' as *;
@use '../../styles/breakpoints' as *;

main {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 20px 5%;

    @include for-m {
        padding: 50px 5%;
        gap: 70px;
    }

    @include for-l {
        padding: 80px 5%;
        gap: 80px;
    }
}

h1 {
    text-align: center;
    color: $dark-blue;
    font-weight: bold;
}

.update,
.delete,
.read {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    @include for-m {
        gap: 40px;
    }

    @include for-l {
        align-items: flex-start;
        gap: 50px;
    }
}

.update__title,
.delete__title,
.read__title {
    text-align: center;
    color: $medium-blue;
    font-weight: bold;
}

.update__text-group,
.delete__text-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.update__text,
.delete__text {
    text-align: center;

    @include for-l {
        text-align: left;
    }
}

.update__form,
.delete__form,
.read__form {
    max-width: fit-content;
    padding: 30px;
    background-color: $light-blue;
    display: flex;
    flex-direction: column;
    gap: 15px;
    border: 3px solid $medium-blue;
    border-radius: 30px;
    align-items: center;
}

.read__form {
    @include for-l {
        flex-direction: row;
    }
}

.update__form-part, .delete__form-part {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.update__field-group,
.delete__field-group {
    display: flex;
    flex-direction: column;
    gap: 7px;

    @include for-m {
        width: 100%;
    }

    @include for-l {
        width: 100%;
        flex-direction: row;
    }
}

.update__field-group--roles {
    border: none;
}

.update__field-group--roles legend {
    margin-bottom: 7px;
}

.update__form-label,
.delete__form-label,
.read__form-label {
    color: $medium-blue;
    text-align: center;

    @include for-m {
        margin-left: 10px;
        text-align: left;
        width: 100%;
    }

    @include for-l {
        align-self: center;
        text-align: right;
        width: 85px;
    }
}

legend.update__form-label {
    @include for-l {
        text-align: left;
    }
}

.update__form-input[type=number],
.update__form-input[type=text],
.update__form-input[type=email],
.delete__form-input,
.read__form-input {
    padding: 5px 10px;
    width: 100%;
    box-sizing: border-box;
    border: 2px solid $medium-blue;
    border-radius: 20px;
    text-align: center;

    @include for-m {
        text-align: left;
    }

    @include for-l {
        width: 250px;
        text-align: left;
    }
}

.update__form-input[type=checkbox] {
    margin: 0 5px;
}

.update__message-group, .delete__message-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.update__message, .delete__message {
    text-align: center;

    @include for-m {
        margin-left: 10px;
        text-align: left;
    }

    @include for-l {
        margin-left: 100px;
        text-align: left;
    }
}

.update__message--global, .delete__message--global {
    @include for-l {
        margin: 0;
    }
}

.update__form-checkbox-name {}

.update__form-submit,
.delete__form-submit {
    background-color: white;
    align-self: center;
    border: 2px solid $medium-blue;
    border-radius: 30px;
    padding: 10px 0;
    width: 100%;
    max-width: 200px;
    color: $medium-blue;
    transition: all 0.3s ease;
}

.update__form-submit:hover,
.delete__form-submit:hover {
    background-color: $medium-blue;
    color: white;
    transform: scale(1.1);
}

.update__form-submit--disabled, .delete__form-submit--disabled {
    pointer-events: none;
    background-color: $brown;
    color: white;
    border: 2px solid $brown;
}

.delete__table, .read__table {
    background-color: $light-blue;
    display: block;
    max-width: 100%;
    overflow-x: auto;
    border: 3px solid $medium-blue;
    border-radius: 20px;
    border-collapse: collapse;
}

.delete__thead {}

.delete__thead-row {}

.delete__thead-column, .read__thead-column {
    padding: 7px;
    border: 1px solid $medium-blue;
    border-top: none;
    font-weight: bold;
}

.delete__thead-column--corner-left, .read__thead-column--corner-left {
    padding: 10px 7px 7px 10px;
    border-left: none;
}

.delete__thead-column--corner-right, .read__thead-column--corner-right {
    padding: 10px 10px 7px 7px;
    border-right: none;
}

.delete__tbody {}

.delete__tbody-row {}

.delete__tbody-column, .read__tbody-column {
    padding: 7px;
    border: 1px solid $medium-blue;
    border-bottom: none;
    text-align: center;
}

.delete__tbody-column--corner-left, .read__tbody-column--corner-left {
    padding: 7px 7px 10px 10px;
    border-left: none;
}

.delete__tbody-column--corner-right, .read__tbody-column--corner-right {
    padding: 7px 10px 10px 7px;
    border-right: none;
}

.read__thead {}

.read__thead-row {}

.read__tbody {}

.read__tbody-row {}

