@use '../../styles/variables' as *;
@use '../../styles/breakpoints' as*;

main {
    padding: 30px 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

h1 {
    color: $dark-blue;
    font-weight: bold;
    text-decoration: underline;
}

.content {
    padding: 25px;
    background-color: $light-blue;
    display: flex;
    flex-direction: column;
    border: 3px solid $medium-blue;
    border-radius: 40px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
}

.form__part {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.form__field-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;

    @include for-l {
        flex-direction: row;
    }
}

.form__label {
    color: $medium-blue;
    font-weight: bold;
    text-align: center;

    @include for-m {
        text-align: left;
    }

    @include for-l {
        width: 150px;
        text-align: right;
    }
}

.form__field {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    border: 0.8px solid $medium-blue;
    border-radius: 10px;
    text-align: center;

    @include for-m {
        text-align: left;
    }

    @include for-l {
        text-align: left;
    }
}

.form__message-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.form__message {
    text-align: center;

    @include for-m {
        text-align: left;
    }

    @include for-l {
        padding-left: 125px;
        text-align: left;
    }
}

.form__message--global {
    padding: 0;
    max-width: 500px;
    text-align: center;
}

.form__submit-button, .registration-group__link {
    width: fit-content;
    padding: 10px 25px;
    background-color: white;
    border: 1.6px solid $medium-blue;
    border-radius: 20px;
    text-align: center;
    color: $medium-blue;
    font-weight: bold;
    transition: all 0.3s ease;
}

.form__submit-button:hover, .registration-group__link:hover {
    background-color: $medium-blue;
    color: white;
    transform: scale(1.1);
}

.form__submit-button--disabled {
    pointer-events: none;
    background-color: $brown;
    color: white;
    border: 2px solid $brown;
}


.registration-group {
    padding-top: 30px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    border-top: 7px double $medium-blue;
}

.registration-group__text {
    color: $medium-blue;
    text-align: center;
}