<main class="dashboard">
    <h1 class="dashboard__title">Gestion des contenus</h1>
    <section class="dashboard__course">
        <h2 class="dashboard__course-title">Arborescence des cours</h2>
        <div class="dashboard__course-sections">
            <section class="course-section">
                <h3 class="course-section__title">Thèmes</h3>
                <div class="course-section__content">
                    @for (theme of allThemes; track theme.id){
                        <div class="course-section__content-group" [class.pointer]="activeThemeId !== theme.id" [class.current-course-section]="currentThemeId === theme.id" (click)="activeThemeId !== theme.id ? activeTheme(theme.id) : null">
                            <div class="course-section__content-infos">
                                <div class="course-section__content-icons" [class.no-display]="activeThemeId !== theme.id">
                                    <div class="course-section__content-actions">
                                        <fa-icon class="course-section__content-icon course-section__content-icon--update" (click)="activeUpdateForm($event, theme.id)" [icon]="faPen"></fa-icon>
                                        <fa-icon class="course-section__content-icon course-section__content-icon--delete" (click)="onDelete('theme', theme.id)" [icon]="faTrash"></fa-icon> 
                                    </div>
                                    <div class="course-section__content-move">
                                        <fa-icon class="course-section__content-icon course-section__content-icon--up" (click)="changeOrder($event, 'theme', theme.id, 'up')" [icon]="faCaretUp"></fa-icon>
                                        <fa-icon class="course-section__content-icon course-section__content-icon--down" (click)="changeOrder($event, 'theme', theme.id, 'down')" [icon]="faCaretDown"></fa-icon>
                                    </div>
                                </div>
                                <p class="course-section__content-name" [class.little-padding]="activeThemeId !== theme.id" [class.current-course-name]="currentThemeId === theme.id">{{ theme.name }} (id: {{ theme.id }})</p>
                            </div>
                            @if (activeThemeId === theme.id) {
                                <p class="course-section__content-date"><span>Création :</span><br>le {{ theme.createdAtDate }} à {{ theme.createdAtTime }} par {{ theme.createdByName }}</p>
                                <p class="course-section__content-date"><span>Modification :</span><br>{{ theme.updatedAt !== theme.createdAt ? 'le ' + theme.updatedAtDate + ' à ' + theme.updatedAtTime + ' par ' + theme.updatedByName : 'Non modifié' }}</p>
                            }
                            @if (updateThemeForms.get(theme.id)) {
                                <form [formGroup]="updateThemeForms.get(theme.id)!" (submit)="onUpdateThemeForm(theme.id)" class="course-section__updateForm" [class.no-display]="activeThemeId !== theme.id || activeUpdateFormId !== theme.id">
                                    <div class="course-section__updateForm-group">
                                        <label class="course-section__updateForm-label" for="updateThemeName{{theme.id}}">Nom du thème</label>
                                        <input class="course-section__updateForm-input" type="text" formControlName="name" id="updateThemeName{{theme.id}}">
                                        @for (message of formService.getAllErrorMessages(updateThemeForms.get(theme.id)!, 'name'); track $index) {
                                            <p class="course-section__updateForm-message error">{{message}}</p>
                                        }
                                    </div>
                                    <button class="course-section__updateForm-button" [class.course-section__updateForm-button--disabled]="updateThemeForms.get(theme.id)?.invalid" type="submit">Modifier</button>
                                    @if (updateThemeGlobalMessage) {<p class="course-section__updateForm-global-message" [ngClass]="isUpdateThemeGlobalMessageSuccess ? 'success' : 'error'">{{updateThemeGlobalMessage}}</p>}
                                </form>
                            }
                        </div>
                    }
                </div>
                <form class="course-section__addForm"  [formGroup]="addThemeForm" (submit)="onSubmitAddThemeForm()">
                    <div class="course-section__addForm-group">
                        <label class="course-section__addForm-label" for="addThemeName">Nom du thème</label>
                        <input class="course-section__addForm-input" type="text" formControlName="name" id="addThemeName">
                        @for (message of formService.getAllErrorMessages(addThemeForm, 'name'); track $index) {
                            <p class="course-section__addForm-message error">{{message}}</p>
                        }
                    </div>
                    <button class="course-section__addForm-button" [class.course-section__addForm-button--disabled]="addThemeForm.invalid" type="submit">Ajouter</button>
                    @if (addThemeGlobalErrorMessage) {<p class="course-section__addForm-global-message" [ngClass]="isAddThemeGlobalErrorMessageSuccess ? 'success' : 'error'">{{addThemeGlobalErrorMessage}}</p>}
                </form>
            </section>
            <section class="course-section">
                <h3 class="course-section__title">Cursus</h3>
                <div class="course-section__content">
                    @for (cursus of selectedCursus; track cursus.id){
                        <div class="course-section__content-group" [class.pointer]="activeCursusId !== cursus.id" [class.current-course-section]="currentCursusId === cursus.id" (click)="activeCursusId !== cursus.id ? activeCursus(cursus.id) : null">
                            <div class="course-section__content-infos">
                                <div class="course-section__content-icons" [class.no-display]="activeCursusId !== cursus.id">
                                    <div class="course-section__content-actions">
                                        <fa-icon class="course-section__content-icon course-section__content-icon--update" (click)="activeUpdateForm($event, cursus.id)" [icon]="faPen"></fa-icon>
                                        <fa-icon class="course-section__content-icon course-section__content-icon--delete" (click)="onDelete('cursus', cursus.id)" [icon]="faTrash"></fa-icon> 
                                    </div>
                                    <div class="course-section__content-move">
                                        <fa-icon class="course-section__content-icon course-section__content-icon--up" (click)="changeOrder($event, 'cursus', cursus.id, 'up')" [icon]="faCaretUp"></fa-icon>
                                        <fa-icon class="course-section__content-icon course-section__content-icon--down" (click)="changeOrder($event, 'cursus', cursus.id, 'down')" [icon]="faCaretDown"></fa-icon>
                                    </div>
                                </div>
                                <p class="course-section__content-name" [class.little-padding]="activeCursusId !== cursus.id" [class.current-course-name]="currentCursusId === cursus.id">{{ cursus.name }} (id: {{ cursus.id }})</p>
                            </div>
                            @if (activeCursusId === cursus.id) {
                                <p class="course-section__content-price"><span>Prix :</span> {{ cursus.price | currency:'EUR':'symbol':'1.2-2':'fr-FR' }}</p>
                                <p class="course-section__content-date"><span>Création :</span><br>le {{ cursus.createdAtDate }} à {{ cursus.createdAtTime }} par {{ cursus.createdByName }}</p>
                                <p class="course-section__content-date"><span>Modification :</span><br>{{ cursus.updatedAt !== cursus.createdAt ? 'le ' + cursus.updatedAtDate + ' à ' + cursus.updatedAtTime + ' par ' + cursus.updatedByName : 'Non modifié' }}</p>
                            }
                            @if(updateCursusForms.get(cursus.id)) {
                                <form [formGroup]="updateCursusForms.get(cursus.id)!" (submit)="onUpdateCursusForm(cursus.id)" class="course-section__updateForm" [class.no-display]="activeCursusId !== cursus.id || activeUpdateFormId !== cursus.id">
                                    <div class="course-section__updateForm-group">
                                        <label class="course-section__updateForm-label" for="updateCursusName{{cursus.id}}">Nom du cursus</label>
                                        <input class="course-section__updateForm-input" type="text" formControlName="name" id="updateCursusName{{cursus.id}}">
                                        @for (message of formService.getAllErrorMessages(updateCursusForms.get(cursus.id)!, 'name'); track $index) {
                                            <p class="course-section__updateForm-message error">{{message}}</p>
                                        }
                                    </div>
                                    <div class="course-section__updateForm-group">
                                        <label class="course-section__updateForm-label" for="updateCursusPrice{{cursus.id}}">Prix du cursus</label>
                                        <input class="course-section__updateForm-input" type="number" formControlName="price" id="updateCursusPrice{{cursus.id}}">
                                        @for (message of formService.getAllErrorMessages(updateCursusForms.get(cursus.id)!, 'price'); track $index) {
                                            <p class="course-section__updateForm-message error">{{message}}</p>
                                        }
                                    </div>
                                    <button class="course-section__updateForm-button" [class.course-section__updateForm-button--disabled]="updateCursusForms.get(cursus.id)?.invalid" type="submit">Modifier</button>
                                    @if (updateCursusGlobalMessage) {<p class="course-section__updateForm-global-message" [ngClass]="isUpdateCursusGlobalMessageSuccess ? 'success' : 'error'">{{updateCursusGlobalMessage}}</p>}
                                </form>
                            }
                        </div>
                    }
                </div>
                @if (currentThemeId) {
                    <form class="course-section__addForm" [formGroup]="addCursusForm" (submit)="onSubmitAddCursusForm()">
                        <div class="course-section__addForm-group">
                            <label class="course-section__addForm-label" for="addCursusName">Nom du cursus</label>
                            <input class="course-section__addForm-input" type="text" formControlName="name" id="addCursusName">
                            @for (message of formService.getAllErrorMessages(addCursusForm, 'name'); track $index) {
                                <p class="course-section__addForm-message error">{{message}}</p>
                            }
                        </div>
                        <div class="course-section__addForm-group">
                            <label class="course-section__addForm-label" for="addCursusPrice">Prix du cursus</label>
                            <input class="course-section__addForm-input" type="number" formControlName="price" id="addCursusPrice">
                            @for (message of formService.getAllErrorMessages(addCursusForm, 'price'); track $index) {
                                <p class="course-section__addForm-message error">{{message}}</p>
                            }
                        </div>
                        <button class="course-section__addForm-button" [class.course-section__addForm-button--disabled]="addCursusForm.invalid" type="submit">Ajouter</button>
                        @if (addCursusGlobalErrorMessage) {<p class="course-section__addForm-global-message" [ngClass]="isAddCursusGlobalErrorMessageSuccess ? 'success' : 'error'">{{addCursusGlobalErrorMessage}}</p>}
                    </form>
                }
            </section>
            <section class="course-section">
                <h3 class="course-section__title">Leçons</h3>
                <div class="course-section__content">
                    @for (lesson of selectedLessons; track lesson.id){
                        <div class="course-section__content-group" [class.pointer]="activeLessonId !== lesson.id" [class.current-course-section]="currentLessonId === lesson.id" (click)="activeLessonId !== lesson.id ? activeLesson(lesson.id) : null">
                            <div class="course-section__content-infos">
                                <div class="course-section__content-icons" [class.no-display]="activeLessonId !== lesson.id">
                                    <div class="course-section__content-actions">
                                        <fa-icon class="course-section__content-icon course-section__content-icon--update" (click)="activeUpdateForm($event, lesson.id)" [icon]="faPen"></fa-icon>
                                        <fa-icon class="course-section__content-icon course-section__content-icon--delete" (click)="onDelete('lesson', lesson.id)" [icon]="faTrash"></fa-icon> 
                                    </div>
                                    <div class="course-section__content-move">
                                        <fa-icon class="course-section__content-icon course-section__content-icon--up" (click)="changeOrder($event, 'lesson', lesson.id, 'up')" [icon]="faCaretUp"></fa-icon>
                                        <fa-icon class="course-section__content-icon course-section__content-icon--down" (click)="changeOrder($event, 'lesson', lesson.id, 'down')" [icon]="faCaretDown"></fa-icon>
                                    </div>
                                </div>
                                <p class="course-section__content-name" [class.little-padding]="activeLessonId !== lesson.id" [class.current-course-name]="currentLessonId === lesson.id">{{ lesson.name }} (id: {{ lesson.id }})</p>
                            </div>
                            @if (activeLessonId === lesson.id) {
                                <p class="course-section__content-price"><span>Prix :</span> {{ lesson.price | currency:'EUR':'symbol':'1.2-2' }}</p>
                                <p class="course-section__content-date"><span>Création :</span><br>le {{ lesson.createdAtDate }} à {{ lesson.createdAtTime }} par {{ lesson.createdByName }}</p>
                                <p class="course-section__content-date"><span>Modification :</span><br>{{ lesson.updatedAt !== lesson.createdAt ? 'le ' + lesson.updatedAtDate + ' à ' + lesson.updatedAtTime + ' par ' + lesson.updatedByName : 'Non modifié' }}</p>
                            }
                            @if (updateLessonForms.get(lesson.id)) {
                                <form [formGroup]="updateLessonForms.get(lesson.id)!" (submit)="onUpdateLessonForm(lesson.id)" class="course-section__updateForm" [class.no-display]="activeLessonId !== lesson.id || activeUpdateFormId !== lesson.id" >
                                    <div class="course-section__updateForm-group">
                                        <label class="course-section__updateForm-label" for="updateLessonName{{lesson.id}}">Nom de la leçon</label>
                                        <input class="course-section__updateForm-input" type="text" formControlName="name" id="updateLessonName{{lesson.id}}">
                                        @for (message of formService.getAllErrorMessages(updateLessonForms.get(lesson.id)!, 'name'); track $index) {
                                            <p class="course-section__updateForm-message error">{{message}}</p>
                                        }
                                    </div>
                                    <div class="course-section__updateForm-group">
                                        <label class="course-section__updateForm-label" for="updateLessonPrice{{lesson.id}}">Prix de la leçon</label>
                                        <input class="course-section__updateForm-input" type="number" formControlName="price" id="updateLessonPrice{{lesson.id}}">
                                        @for (message of formService.getAllErrorMessages(updateLessonForms.get(lesson.id)!, 'price'); track $index) {
                                            <p class="course-section__updateForm-message error">{{message}}</p>
                                        }
                                    </div>
                                    <button class="course-section__updateForm-button" [class.course-section__updateForm-button--disabled]="updateLessonForms.get(lesson.id)?.invalid" type="submit">Modifier</button>
                                    @if (updateLessonGlobalMessage) {<p class="course-section__updateForm-global-message" [ngClass]="isUpdateLessonGlobalMessageSuccess ? 'success' : 'error'">{{updateLessonGlobalMessage}}</p>}
                                </form>
                            }
                        </div>
                    }
                </div>
                @if (currentCursusId) {
                    <form class="course-section__addForm" [formGroup]="addLessonForm" (submit)="onSubmitAddLessonForm()">
                        <div class="course-section__addForm-group">
                            <label class="course-section__addForm-label" for="addLessonName">Nom de la leçon</label>
                            <input class="course-section__addForm-input" type="text" formControlName="name" id="addLessonName">
                            @for (message of formService.getAllErrorMessages(addLessonForm, 'name'); track $index) {
                                <p class="course-section__addForm-message error">{{message}}</p>
                            }
                        </div>
                        <div class="course-section__addForm-group">
                            <label class="course-section__addForm-label" for="addLessonPrice">Prix de la leçon</label>
                            <input class="course-section__addForm-input" type="number" formControlName="price" id="addLessonPrice">
                            @for (message of formService.getAllErrorMessages(addLessonForm, 'price'); track $index) {
                                <p class="course-section__addForm-message error">{{message}}</p>
                            }
                        </div>
                        <button class="course-section__addForm-button" [class.course-section__addForm-button--disabled]="addLessonForm.invalid" type="submit">Ajouter</button>
                        @if (addLessonGlobalErrorMessage) {<p class="course-section__addForm-global-message" [ngClass]="isAddLessonGlobalErrorMessageSuccess ? 'success' : 'error'">{{addLessonGlobalErrorMessage}}</p>}
                    </form>
                }
            </section>
        </div>
        <div class="dashboard__course-elements">
            <h3 class="course-elements__title">Contenu de la leçon</h3>
                <div class="course-elements__content">
                    @for (element of selectedElements; track element.id){
                        <div class="course-elements__element-group" [class.pointer]="activeElementId !== element.id" [class.course-elements__element-group--active]="activeElementId === element.id" (click)="activeElementId !== element.id ? activeElement(element.id) : null">
                            <div class="course-elements__element-content">
                                <div class="course-elements__element-info">
                                @if(element.type === 'text') {
                                    @if(element.textType === 'title1') {<p class="course-elements__text-title1">Titre 1 :</p>}
                                    @if(element.textType === 'title2') {<p class="course-elements__text-title2">Titre 2 :</p>}
                                    @if(element.textType === 'title3') {<p class="course-elements__text-title3">Titre 3 :</p>}
                                    @if(element.textType === 'paragraph') {<p class="course-elements__text-paragraph">Paragraphe :</p>}
                                    <p class="course-elements__text-content">{{ element.content }}</p>
                                }

                                @if(element.type === 'image') {
                                    <p class="course-elements__image-legend"><span>Légende :</span> {{ element.legend ?? 'Absence de légende' }}</p>
                                    <img class="course-elements__image" [class.course-elements__image--active]="activeElementId === element.id" [src]="environment.backUrl +'/api/content/element/image/private/'+ element.source + '/' + element.token" [alt]="element.alternative">
                                }

                                @if (activeElementId === element.id) {
                                        <div class="course-elements__details">
                                            @if (element.type === 'image') {
                                                <div class="course-elements__details-image">
                                                    <p class="course-elements__detail-image"><span>Nom du fichier :</span> {{ element.source }}</p>
                                                    <p class="course-elements__detail-image"><span>Texte alternatif :</span> {{ element.alternative }}</p>
                                                </div>
                                            }
                                            <div class="course-elements__details-dates">
                                                <p class="course-elements__detail-date"><span>Création :</span> le {{ element.createdAtDate }} à {{ element.createdAtTime }} par {{ element.createdByName }}</p>
                                                <p class="course-elements__detail-date"><span>Modification :</span> {{ element.updatedAt !== element.createdAt ? ' le ' + element.updatedAtDate + ' à ' + element.updatedAtTime + ' par ' + element.updatedByName : 'Non modifié' }}</p>
                                            </div>
                                        </div> 
                                    }
                                </div>
                                <div class="course-elements__element-icons" [class.no-display]="activeElementId !== element.id">
                                    <div class="course-elements__element-actions">
                                        <fa-icon class="course-elements__element-icon course-elements__element-icon--delete" (click)="onDelete('element', element.id)" [icon]="faTrash"></fa-icon>
                                        <fa-icon class="course-elements__element-icon course-elements__element-icon--update" (click)="activeUpdateForm($event, element.id)" [icon]="faPen"></fa-icon>
                                    </div>
                                    <div class="course-elements__element-move">
                                        <fa-icon class="course-elements__element-icon course-elements__element-icon--up" (click)="changeOrder($event, 'element', element.id, 'up')" [icon]="faCaretUp"></fa-icon>
                                        <fa-icon class="course-elements__element-icon course-elements__element-icon--down" (click)="changeOrder($event, 'element', element.id, 'down')" [icon]="faCaretDown"></fa-icon>
                                    </div>
                                </div>
                            </div>
                            @if (element.type === 'text' && updateElementForms.get(element.id)) {
                                <form [formGroup]="updateElementForms.get(element.id)!" (submit)="onUpdateElementForm('text', element.id)" class="course-elements__updateForm" [class.no-display]="activeElementId !== element.id || activeUpdateFormId !== element.id">
                                    <div class="course-elements__updateForm-group">
                                        <label class="course-elements__updateForm-label" for="updateElementTextType{{element.id}}">Type du texte</label>
                                        <select formControlName="textType" id="updateElementTextType{{element.id}}">
                                            <option value="title1">Titre 1</option>
                                            <option value="title2">Titre 2</option>
                                            <option value="title3">Titre 3</option>
                                            <option value="paragraph">Paragraphe</option>
                                        </select>
                                    </div>
                                    @if (updateElementForms.get(element.id)?.get('textType')?.value) {
                                        <div class="course-elements__updateForm-container">
                                            <div class="course-elements__updateForm-group">
                                                <label class="course-elements__updateForm-label" for="updateElementContent{{element.id}}">
                                                    {{updateElementForms.get(element.id)?.get('textType')?.value === 'title1' ? 'Titre 1' : null}}
                                                    {{updateElementForms.get(element.id)?.get('textType')?.value === 'title2' ? 'Titre 2' : null}}
                                                    {{updateElementForms.get(element.id)?.get('textType')?.value === 'title3' ? 'Titre 3' : null}}
                                                    {{updateElementForms.get(element.id)?.get('textType')?.value === 'paragraph' ? 'Paragraphe' : null}}
                                                </label>
                                                <textarea class="course-elements__updateForm-text-area" formControlName="content" id="updateElementContent{{element.id}}"></textarea>
                                            </div>
                                            @for (message of formService.getAllErrorMessages(updateElementForms.get(element.id)!, 'content'); track $index) {
                                                <p class="course-elements__updateForm-message error">{{message}}</p>
                                            }
                                        </div>
                                    }
                                    <button class="course-elements__updateForm-button" [class.course-elements__updateForm-button--disabled]="updateElementForms.get(element.id)?.invalid" type="submit">Modifier</button>
                                    @if (updateTextElementGlobalMessage) {<p class="course-elements__updateForm-global-message" [ngClass]="isUpdateTextElementGlobalMessageSuccess ? 'success' : 'error'">{{updateTextElementGlobalMessage}}</p>}
                                </form>
                            }
                            @if (element.type === 'image' && updateElementForms.get(element.id)) {
                                <form [formGroup]="updateElementForms.get(element.id)!" (submit)="onUpdateElementForm('image', element.id)" class="course-elements__updateForm" [class.no-display]="activeElementId !== element.id || activeUpdateFormId !== element.id">
                                    <div class="course-elements__updateForm-container">
                                        <div class="course-elements__updateForm-group">
                                            <input type="file" class="course-elements__updateForm-input-file" id="updateElementFile{{element.id}}" (change)="onUpdateFileSelected($event, element.id)" accept="image/*">
                                            <label class="course-elements__updateForm-label course-elements__updateForm-label--file" for="updateElementFile{{element.id}}">
                                                <span [class.no-display]="updateImagePreviewUrls.get(element.id)">Cliquez pour ajouter un fichier<br>(max 5 Mo)</span>
                                                <img class="course-elements__updateForm-image" [class.no-display]="!updateImagePreviewUrls.get(element.id)" src="{{updateImagePreviewUrls.get(element.id)}}" alt="Image à ajouter par l'utilisateur, le texte alternatif peut être renseigné par la suite dans le formulaire.">
                                            </label>
                                        </div>
                                        @for (message of formService.getAllErrorMessages(updateElementForms.get(element.id)!, 'file'); track $index) {
                                            <p class="course-elements__updateForm-message error">{{message}}</p>
                                        }
                                    </div>
                                    <div class="course-elements__updateForm-container">
                                        <div class="course-elements__updateForm-group">
                                            <label class="course-elements__updateForm-label" for="updateElementLegend{{element.id}}">Légende</label>
                                            <input type="text" class="course-elements__updateForm-input" id="updateElementLegend{{element.id}}" formControlName="legend">
                                        </div>
                                        @for (message of formService.getAllErrorMessages(updateElementForms.get(element.id)!, 'legend'); track $index) {
                                            <p class="course-elements__updateForm-message error">{{message}}</p>
                                        }
                                    </div>
                                    <div class="course-elements__updateForm-container">
                                        <div class="course-elements__updateForm-group">
                                            <label class="course-elements__updateForm-label" for="updateElementAlternative{{element.id}}">Texte alternatif</label>
                                            <textarea class="course-elements__updateForm-text-area" id="updateElementAlternative{{element.id}}" formControlName="alternative"></textarea>
                                        </div>
                                        @for (message of formService.getAllErrorMessages(updateElementForms.get(element.id)!, 'alternative'); track $index) {
                                            <p class="course-elements__updateForm-message error">{{message}}</p>
                                        }
                                    </div>
                                    <button class="course-elements__updateForm-button" [class.course-elements__updateForm-button--disabled]="updateElementForms.get(element.id)?.invalid" type="submit">Modifier</button>
                                    @if (updateImageElementGlobalMessage) {<p class="course-elements__updateForm-global-message" [ngClass]="isUpdateImageElementGlobalMessageSuccess ? 'success' : 'error'">{{updateImageElementGlobalMessage}}</p>}
                                </form>
                            }
                        </div>
                    }
                </div>
                @if (currentLessonId) {
                    <form class="course-elements__addForm" [formGroup]="addElementForm" (submit)="onSubmitAddElementForm()">
                        <div class="course-elements__addForm-group">
                            <label class="course-elements__addForm-label" for="addElementType">Type de l'élément</label>
                            <select formControlName="type" id="addElementType">
                                <option value="text">Titre ou Texte</option>
                                <option value="image">Image</option>
                            </select>
                        </div>
                        @if (addElementForm.get('type')?.value === 'text') {
                            <div class="course-elements__addForm-group">
                                <label class="course-elements__addForm-label" for="addElementTextType">Type du texte</label>
                                <select formControlName="textType" id="addElementTextType">
                                    <option value="title1">Titre 1</option>
                                    <option value="title2">Titre 2</option>
                                    <option value="title3">Titre 3</option>
                                    <option value="paragraph">Paragraphe</option>
                                </select>
                            </div>
                        }
                        @if (addElementForm.get('type')?.value === 'text' && addElementForm.get('textType')?.value) {
                            <div class="course-elements__addForm-group">
                                <label class="course-elements__addForm-label" for="addElementContent">
                                    {{addElementForm.get('textType')?.value === 'title1' ? 'Titre 1' : null}}
                                    {{addElementForm.get('textType')?.value === 'title2' ? 'Titre 2' : null}}
                                    {{addElementForm.get('textType')?.value === 'title3' ? 'Titre 3' : null}}
                                    {{addElementForm.get('textType')?.value === 'paragraph' ? 'Paragraphe' : null}}
                                </label>
                                <textarea class="course-elements__addForm-text-area" formControlName="content" id="addElementContent"></textarea>
                                @for (message of formService.getAllErrorMessages(addElementForm, 'content'); track $index) {
                                    <p class="course-elements__addForm-message error">{{message}}</p>
                                }
                            </div>
                        }
                        @if (this.addElementForm.get('type')?.value === 'image') {
                            <div class="course-elements__addForm-group">
                                <input type="file" class="course-elements__addForm-input-file" id="addElementFile" (change)="onFileSelected($event)" accept="image/*">
                                <label class="course-elements__addForm-label course-elements__addForm-label--file" for="addElementFile">
                                    <span [class.no-display]="imagePreviewUrl">Cliquez pour ajouter un fichier<br>(max 5 Mo)</span>
                                    <img class="course-elements__addForm-image" [class.no-display]="!imagePreviewUrl" src="{{imagePreviewUrl}}" alt="Image à ajouter par l'utilisateur, le texte alternatif peut être renseigné par la suite dans le formulaire.">
                                </label>
                                @for (message of formService.getAllErrorMessages(addElementForm, 'file'); track $index) {
                                    <p class="course-elements__addForm-message error">{{message}}</p>
                                }
                            </div>
                            <div class="course-elements__addForm-group">
                                <label class="course-elements__addForm-label" for="addElementLegend">Légende</label>
                                <input type="text" class="course-elements__addForm-input" id="addElementLegend" formControlName="legend">
                                @for (message of formService.getAllErrorMessages(addElementForm, 'legend'); track $index) {
                                    <p class="course-elements__addForm-message error">{{message}}</p>
                                }
                            </div>
                            <div class="course-elements__addForm-group">
                                <label class="course-elements__addForm-label" for="addElementAlternative">Texte alternatif</label>
                                <textarea class="course-elements__addForm-text-area" id="addElementAlternative" formControlName="alternative"></textarea>
                                @for (message of formService.getAllErrorMessages(addElementForm, 'alternative'); track $index) {
                                    <p class="course-elements__addForm-message error">{{message}}</p>
                                }
                            </div>
                        }
                        <button class="course-elements__addForm-button" [class.course-elements__addForm-button--disabled]="addElementForm.invalid" type="submit">Ajouter</button>
                        @if (addElementGlobalErrorMessage) {<p class="course-elements__addForm-global-message" [ngClass]="isAddElementGlobalErrorMessageSuccess ? 'success' : 'error'">{{addElementGlobalErrorMessage}}</p>}
                    </form>
                }
        </div>
    </section>
</main>